<h1>{{{title}}}</h1>

<div id="login-form">
    <div id="global_errors" role="alert">{{{formErrors}}}</div>
    <form method="post" action="/">
        <input type="hidden" name="_csrf" value={{{csrftoken}}} />

        <div>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" value="{{{email}}}">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div><input type="submit" name="submit" id="submit" value="Log In"></div>
    </form>
</div>
